# ignore entire data directory
data
test-run
cDNA-counts
.snakemake
SuRE-pipelineOutput
SuRE-snakemake.org

# subdirectory code/conda; it will be created in the 'target' directory by 'make'
code/conda

# subdirectory code/WASP since it is a git repos on its own (maybe should have used 'git submodules')
# code/WASP

# ignore bam files
*.bam
*.bam.*

# ignore R data files
*.RData
*.Rda
*.rda

# ignore vi swap files
.*.sw?

# libreoffice files
.~lock.*odp#

# misc files
*~ # (Quanta ?)

# ignore all files and directories resulting from running runSweave.sh
*.tex
*.toc
*.aux
*.log
*.out
cache/
readme.pdf
SuRE-scripts.zip
__pycache__
